<div id="main-container">
  <mat-progress-spinner
    *ngIf="loading"
    mode="indeterminate"
    diameter="60"
  ></mat-progress-spinner>

  <div id="settings">
    <div>
      <label id="distance-label" for="distance">{{
        (translations$ | async).DistanceLabel
      }}</label>
      <span class="distance-span">0 m </span>
      <input
        type="range"
        id="distance-input"
        name="distance"
        min="0"
        max="10000"
        [(ngModel)]="distanceInMeters"
      />
      <span class="distance-span">10 km</span>
      <div id="distance-counter">
        {{ (translations$ | async).Distance }}:
        <span class="italic">{{ distanceInMeters | distance }}</span>
      </div>
    </div>

    <div class="settings-spacing">
      <mat-form-field appearance="legacy">
        <mat-label>{{ (translations$ | async).AccommodationType }}</mat-label>
        <mat-select
          (selectionChange)="onAccommodationSelectionChange($event.value)"
          [formControl]="accommodationTypesSelected"
          multiple
        >
          <mat-option *ngFor="let acc of accommodations" [value]="acc">{{
            acc
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="settings-spacing">
      <mat-form-field id="language-field" appearance="legacy">
        <mat-label><img [src]="selected.img" class="icon" /></mat-label>
        <mat-select
          [(value)]="selected"
          [formControl]="languageSelected"
          (selectionChange)="switchLang($event.value.value)"
        >
          <mat-option *ngFor="let lan of languages" [value]="lan"
            ><img [src]="lan.img" class="icon" /> {{ lan.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="settings-spacing" id="settings-button">
      <button (click)="onFilterApplied()" mat-flat-button color="primary">
        {{ (translations$ | async).Apply }}
      </button>
    </div>
  </div>

  <div id="map" class="map"></div>

  <div #banner class="popover">
    <button class="popup-close-button" (click)="hidePopover()">
      <img class="popup-close-icon" src="assets/close.svg" />
    </button>

    <div class="popover-inner">
      <p class="popover-name">{{ currentAccommodation?.name }}</p>

      <div class="popover-tag-container centered">
        <span class="popup-tag accommodation-tag">{{
          currentAccommodation?.accType
        }}</span>
        <span class="popup-tag accommodation-tag">{{
          currentAccommodation?.accoCat
        }}</span>
        <span class="popup-tag accommodation-tag"
          >{{ currentAccommodation?.altitude }} m</span
        >
      </div>
      <div class="centered">
        <img src="assets/website.svg" class="icon" /><a
          [href]="(currentAccommodationDetails$ | async)?.website"
          target="_blank"
        >
          {{ (translations$ | async).Website }}</a
        >
      </div>
      <div class="centered">
        <img src="assets/telephone.svg" class="icon" />{{
          (currentAccommodationDetails$ | async)?.phone
        }}
      </div>
      <div class="centered">
        <img src="assets/pin.svg" class="icon" />{{
          (currentAccommodationDetails$ | async)?.address
        }},
        {{ (currentAccommodationDetails$ | async)?.city }}
      </div>

      <div class="popover-bottom-container">
        <p class="button-container-title centered">
          {{ (translations$ | async).StationsNearby }}
        </p>

        <ul id="station-nearby-list">
          <li
            class="station-nearby-item"
            *ngFor="let station of nearbyStations"
          >
            <span
              >{{ station.station.item.name }}
              <span class="italic"
                >({{ station.distance | distance }}
                {{ (translations$ | async).Away }})</span
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div #ebanner class="popover">
    <button class="popup-close-button" (click)="hidePopover()">
      <img class="popup-close-icon" src="assets/close.svg" />
    </button>

    <div class="popover-inner">
      <p class="popover-name">{{ currentEStation?.name }}</p>

      <div class="popover-tag-container centered">
        <div class="popup-tag echarger-tag">{{
          currentEStation?.accessType
        }}</div>
        <div class="popup-tag echarger-tag">{{
          currentEStation?.reservable
            ? (translations$ | async).Reservable
            : (translations$ | async).NotReservable
        }}</div>
        <div class="popup-tag echarger-tag"
          >{{ currentEStation?.capacity }}
          {{
            currentEStation?.capacity == "1"
              ? (translations$ | async).Outlet
              : (translations$ | async).Outlets
          }}</div
        >
      </div>
      <div class="centered">
        <img src="assets/cash.svg" class="icon" /><a
          [href]="currentEStation?.paymentInfo"
          target="_blank"
        >
          {{ (translations$ | async).PaymentInfo }}</a
        >
      </div>

      <div class="centered">
        <img src="assets/pin.svg" class="icon" />{{ currentEStation?.address }}
      </div>

      <div class="centered">
        {{ currentEStation?.city }}
      </div>

      <div
        style="margin-top: auto"
        class="popover-bottom-container"
        *ngIf="plugInfo"
      >
        <p class="button-container-title centered">
          {{ (translations$ | async).AvailablePlugs }} ({{ plugInfo.length }})
        </p>
        <div *ngFor="let plug of plugInfo">
          <div class="station-nearby">
            <div class="bold">{{ plug.id }}. {{ plug.outletTypeCode }}</div>
            <div>
              {{ (translations$ | async).MaxPower }}: {{ plug.maxPower }} kWh,
              {{ (translations$ | async).Current }}: {{ plug.minCurrent }} -
              {{ plug.maxCurrent }} A
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
